{% extends 'base.html' %}

{% block content %}


<link href="/static/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="/static/assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css">
<style>
    .glyphicon.glyphicon-repeat{
        visibility: hidden;
        -moz-animation:rotate 1s infinite linear;
        -webkit-animation:rotate 1s infinite linear;
        animation:rotate 1s infinite linear;
    }
    @-moz-keyframes rotate{
        0%{
          -moz-transform:rotate(0deg);
         }
         100%{
           -moz-transform:rotate(360deg);
         }
      }
      @-webkit-keyframes rotate{
        0%{
          -webkit-transform:rotate(0deg);
         }
         100%{
           -webkit-transform:rotate(360deg);
         }
      }
      @keyframes rotate{
        0%{
          transform:rotate(0deg);
         }
         100%{
           transform:rotate(360deg);
         }
      }
</style>


<div class="container">
   <!-- Page-Title -->
{#    <div class="row ">#}
{#            <div class="col-sm-12">#}
{#                <h4 class="page-title">修改密码</h4>#}
{#                <ol class="breadcrumb">#}
{#                    <li>#}
{#                        <a href="#">网卡清单</a>#}
{#                    </li>#}
{#                    <li class="active">#}
{#                        <a href="{% url 'ServerList' 1 %}">服务器列表</a>#}
{#                    </li>#}
<h2>修改密码</h2>
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  <div>
    <label for="current_password" style="display:inline-block; width:100px;">当前密码:</label>
    <input type="password" id="current_password" name="current_password" required>
  </div>
  <div>
    <label for="new_password" style="display:inline-block; width:100px;">新密码:</label>
    <input type="password" id="new_password" name="new_password" required>
  </div>
  <div>
    <label for="confirm_new_password" style="display:inline-block; width:100px;">确认新密码:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
  </div>
  <button type="submit">提交</button>
</form>





{#<script>#}
{#    var timer,$btn;#}
{#    $('.bootstrap-table').on('click','.btn.btn-xs',function(e) {#}
{#        $btn = $(this);#}
{#        if($btn.hasClass('disabled')) return;#}
{#        var serverId = $btn.attr('data-id');#}
{#        $.ajax({#}
{#            url:'/server/servers/update/' + serverId,#}
{#            beforeSend: function() {#}
{#                $btn.addClass('disabled');#}
{#                $btn.next('.glyphicon').css('visibility','visible');#}
{#            },#}
{#            method:'GET',#}
{#            dataType: 'json',#}
{#            success:function(data){#}
{#                var celeryId = data.celeryId;#}
{#                timer = setInterval(function() {#}
{#                    callback_status(celeryId);#}
{#                },1000);#}
{#            },#}
{#            error:function(){#}
{#                $btn.next('.glyphicon').css('visibility','hidden');#}
{#                $btn.removeClass('disabled');#}
{#            }#}
{#        });#}
{##}
{#    });#}
{##}
{#    var update_info = function(result) {#}
{#        $btn.parents('tr').find('.sn a').text(result.sn);#}
{#        $btn.parents('tr').find('.hostName').text(result.hostname);#}
{#        $btn.parents('tr').find('.cpu').text(result.cpu);#}
{##}
{#        var nicHtml = "";#}
{#        for(var i = 0; i < result.nic.length; i++) {#}
{#            if((i + 1) == result.nic.length) {#}
{#                nicHtml += result.nic[i]#}
{#            } else {#}
{#                nicHtml += result.nic[i] + '<br/>';#}
{#            }#}
{#        };#}
{#        $btn.parents('tr').find('.nic').html(nicHtml);#}
{##}
{#        var diskHtml = "";#}
{#        for(var j = 0; j < result.disk.length; j++) {#}
{#            if((j + 1) == result.disk.length) {#}
{#                diskHtml += result.disk[j]#}
{#            } else {#}
{#                diskHtml += result.disk[j] + '<br>';#}
{#            }#}
{#        };#}
{#        $btn.parents('tr').find('.disk').html(diskHtml);#}
{#        $btn.parents('tr').find('.updateTime').text(result.last_update);#}
{##}
{#    }#}
{##}
{#    var callback_status = function(celeryId) {#}
{#        $.ajax({#}
{#            url:'/server/servers/task/' + celeryId,#}
{#            method:'GET',#}
{#            dataType: 'json',#}
{#            success:function(data){#}
{#                if(data.state == 'SUCCESS') {#}
{#                    clearInterval(timer);#}
{#                    update_info(data.result);#}
{#                    $.Notification.autoHideNotify('success','top right','系统通知', '资产状态已更新!!!!');#}
{#                    $btn.next('.glyphicon').css('visibility','hidden');#}
{#                    $btn.removeClass('disabled');#}
{##}
{#                } else if(data.state == 'FAILURE') {#}
{#                    clearInterval(timer);#}
{#                    $.Notification.autoHideNotify('error', 'top right', '系统通知',"资产更新失败!!!");#}
{#                    console.log(data.status);#}
{#                    $btn.next('.glyphicon').css('visibility','hidden');#}
{#                    $btn.removeClass('disabled');#}
{#                };#}
{#            },#}
{#            error:function(){#}
{##}
{#            },#}
{#        });#}
{#    };#}
{#</script>#}


{% endblock %}